@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --primary-bg: #ffffff;
  --secondary-bg: #008080;
  --dashboard-bg: #f5f5f8;
  --onboarding-bg: #211e08f2;
  --landing-bg: #f5f5f8;

  --primary: #ffffff;
  --secondary: #008080;
  --muted: #b8b8b8;
  --smoky: #101720;
  --black: #222222;

  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-noto-serif: "Noto Serif", serif;
  --font-playfair: "Playfair Display", serif;
  --font-poppins: "Poppins", sans-serif;

  scroll-behavior: smooth;
}

@theme inline {
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-dashboard-bg: var(--dashboard-bg);
  --color-onboarding-bg: var(--onboarding-bg);
  --color-landing-bg: var(--landing-bg);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-smoky: var(--smoky);
  --color-black: var(--black);
  --color-destructive: var(--color-red-600);

  /* Font Families */
  --font-inter: var(--font-inter);
  --font-noto-serif: var(--font-noto-serif);
  --font-playfair: var(--font-playfair);
  --font-jakarta: var(--font-jakarta);
  --font-poppins: var(--font-poppins);

  --shadow-drop: 4px 4px 8px 0px #00000040;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.ant-otp-input {
  background: transparent !important;
  color: var(--muted) !important;
  width: 65px !important;
  height: 45px !important;
  /* display: flex !important;
  justify-content: center !important;
  align-items: center !important; */
  outline: none !important;
  border-radius: 12px;
  border: 2px solid var(--primary);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.ant-otp-input-outlined {
  outline: none !important;
}

.ant-otp-input:focus,
.ant-otp-input:hover {
  outline: none !important;
}

.ant-otp-input::placeholder {
  color: var(--muted) !important;
}

.ant-table-thead > tr > th {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
  font-weight: normal;
  padding: 12px 16px;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
}

.ant-table-cell::before {
  width: 0px !important;
}

.ant-table-cell {
  border: 0px solid transparent !important;
  border-right: 1px solid var(--color-muted) !important;
  text-align: center !important;
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 14px;
}

.ant-table-cell:last-child {
  border: 0px solid transparent !important;
}

.ant-picker-input > input {
  height: 48px !important;
}

.ant-picker-input > input::placeholder {
  font-weight: 700 !important;
  font-size: 24px !important;
  opacity: 1 !important;
  color: var(--color-black) !important;
}
